.nyc_output/
coverage/
test/
.travis.yml
appveyor.yml
lib/**/__tests__/
test.js
*.bat
*.sh
.eslintignore
.eslintrc.json
.travis.yml
.jshintrc
appveyor.yml
lib/copy/__tests__/ncp/README.md
CHANGELOG.md
docs
build