\!! How to fix semicolons.txt
/.nyc_output/
/coverage/
/test/
.travis.yml
.appveyor.yml
test.mjs
*.bat
*.sh
.eslintignore
.jshintrc
appveyor.yml
CHANGELOG.md
docs
build
.github/
.gitattributes
fsxt-sublime.sublime-project
fsxt-sublime.sublime-workspace
fs-extra.template.d.ts
/lib
/.vscode
/src
/rollup.config.mjs
/tsconfig.json
/*.ts
/typedoc.json
.eslintrc
.eslintrc.*
/fsxt.code-workspace