\!! How to fix semicolons.txt
.nyc_output/
coverage/
test/
.travis.yml
.appveyor.yml
lib/**/__tests__/
test/readme.md
test.js
testlite.js
*.bat
*.sh
.eslintignore
.eslintrc.json
.travis.yml
.jshintrc
appveyor.yml
lib/copy/__tests__/ncp/README.md
CHANGELOG.md
docs
build
.github/
.gitattributes
fsxt-sublime.sublime-project
fsxt-sublime.sublime-workspace
fs-extra.template.d.ts
